.wrapper {
    transform: translate(0);
}

.variant {
    border: 1px solid rgb(199, 40, 146);
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(109, 9, 96, 0.842), rgba(0, 0, 255, 0.918));
    width: 100%;
    color: whitesmoke;
    text-align: start;
    font-size: 1em;
   
    
&:hover {
    border: 1px solid rgb(255, 255, 255);
    translate: 0 2px;
    cursor: pointer;
   
}
transition: border 0.2s ease, translate 0.2s ease ;
}

            
ul {
    list-style-type: none;
    margin: 20px auto;
    width: 70vw;
    align-self: center;
}
li {
    cursor: pointer;
   
    margin-top: 10px;
}

.title {
    text-align: center;
}



@media  (min-width: 1000px){
    ul {
        width: 30vw;
    }
}